run = "python app.py"
entrypoint = "app.py"
modules = ["python-3.12", "web", "nodejs-20", "bash"]

[nix]
channel = "stable-25_05"
packages = ["borgbackup", "calibre", "cargo", "freetype", "ghostscript", "glibcLocales", "imagemagickBig", "jbig2enc", "lcms2", "libiconv", "libimagequant", "libjpeg", "libreoffice", "libtiff", "libwebp", "libxcrypt", "libyaml", "openjpeg", "openssl", "pkg-config", "pngquant", "poppler-utils", "poppler_utils", "rustc", "tcl", "tesseract", "tk", "unpaper", "xcodebuild", "zlib"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
